@using Insurance.Models.Models
@model RegisterCustomerModel

@{
    ViewData["Title"] = "Register";
}

<h2>Create New Customer</h2>
<div class="border-4 m-2">
    <form method="post" asp-action="EditCustomerPolicyNext">
        <h3>Personal Information</h3>
        <hr />
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" asp-for="FirstName" class="form-control" id="firstname" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label for="LastName">Last Name</label>
            <input type="text" asp-for="LastName" class="form-control" id="lastname" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label for="Email">Email</label>
            <input type="email" asp-for="Email" class="form-control" id="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <h3>Policy Information</h3>
        <hr />
@*         Hidden to pass value to Controller action when Next button is clicked
 *@        <div>
            <label for="textValue">Policy Number:</label>
            <span id="textValue">@Model.PolicyNumber</span>
            <input type="hidden" asp-for="PolicyNumber" />
        </div>
       
        <div class="form-group my-2">
            <label for="PolicyType">Policy Type</label>
            <select asp-for="PolicyTypeId" class="form-control" asp-items="Model.PolicyTypeList"></select>
            <span asp-validation-for="PolicyTypeId" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label for="Premium">Premium</label>
            <input type="text" asp-for="Premium" class="form-control" />
            <span asp-validation-for="Premium" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label for="StartDate">Start Date</label>
            <input type="date" asp-for="StartDate" class="form-control" min="@ViewBag.MinStartDate" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-end my-5">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>
