
<h1> Welcome to Employee Portal</h1>


<hr/>

<div class="col-6 col-md-3">
    <a asp-controller="Employee" asp-action="RegisterCustomer" class="btn btn-primary form-control">Register new Customer</a>
    <hr />
    <a asp-controller="Employee" asp-action="ViewAllPolicies" class="btn btn-primary form-control">View Policies</a>
    <hr />
    <a asp-controller="Employee" asp-action="ViewAllPolicyHolders" class="btn btn-primary form-control">View All PolicyHolders</a>
</div>



