@model Insurance.Models.Models.ReviewAndSubmitViewModel

<h2>Review and Submit</h2>
<hr/>

<form method="post" asp-action="ConfirmAndSubmit">
    <div>
        <h4>Personal Information</h4>
        <hr/>
        <p>FirstName: @Model.FirstName</p>
        <p>LastName: @Model.LastName</p>
        <p>Email: @Model.Email</p>
    </div>
    <hr/>
    <div>
        <h4>Policy Information</h4>
        <hr/>
        <p>Policy Type:@Model.SelectedPolicyType.Name </p>
        <p>Policy Premium:@Model.Premium </p>
        <p>Policy Start Date : @Model.StartDate</p>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
