@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3> Relax, We Got You.</h3>
    <div class="container text-center mt-4">
        <img src="~/images/joyInsuranceHomepage.png" alt="Insurance Banner" class="img-fluid rounded shadow-lg">
    </div>
</div>
